<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>New Note app</title>
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center">
            <svg xmlns="http://w148ww.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                    d="M312 320h136V56c0-13.3-10.7-24-24-24H24C10.7 32 0 42.7 0 56v400c0 13.3 10.7 24 24 24h264V344c0-13.2 10.8-24 24-24zm129 55l-98 98c-4.5 4.5-10.6 7-17 7h-6V352h128v6.1c0 6.3-2.5 12.4-7 16.9z" />
            </svg>
            Note app <small>version 1.0.1</small></h1>
    </div>

    <div class="container my-5">
        <h1>Notes</h1>
            <div class="row">
                <% for(var i=0; i < notes.length; i++) { %>
                    <div class="col-12 col-sm-5 card bg-warning">
                        <div class="card-header">
                            <%=notes[i].title %>
                        </div>
                        <div class="card-body">
                            <%=notes[i].note %>
                        </div>
                    </div>
                <% } %>
            </div>
    </div>

    <div class="container my-5">
        <h1>Add new note</h1>
        <form class="mr-auto" method="POST" action="/">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" class="form-control" placeholder="Enter the title of the note" value="">
            </div>
            <div class="form-group">
                <label for="note">Note</label>
                <textarea name="note" class="form-control" id="note" cols="30" rows="10" placeholder="enter your note" value=""></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Add note</button>
        </form>
    </div>
    
</body>
</html>